body 
{
    columns: 2 10000px;
    /* display: flex;
    flex-direction: column; */
}

@keyframes rotate360
{
    from { transform: rotate(0); }
    to { transform: rotate(360deg); }
}

.rotate
{
    animation: rotate360 0.4s ease-out 0s 1 normal none;
}

#tray 
{
    background-color: brown;
    display: grid; 
    min-height: 270px;
    max-height: 270px;
    min-width: 490px;
    grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
    overflow: hidden;
}

.tray-die-button
{
    background-color: transparent;
    border: 0;
    position: relative;
    aspect-ratio: 1 / 1;
    justify-content: center;
    justify-self: center;
    align-items: center; 
    max-width: 250px; 
    width: 100%;
    display: flex;
    overflow: hidden;
}

.tray-die-button svg
{
    aspect-ratio: 1 / 1;
    width: 100%;
    height: 100%;
} 

.tray-die-button span
{
    color: orange;
    font-size: 200%;
    background-color: transparent;
    position: absolute;
}

.hidden
{
    visibility: hidden;
}